@import "tailwindcss";
/* Hide scrollbar while keeping scroll functionality */
.scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  